body {
  margin: 0;
  padding: 0;
  background-color: #5a9bd5;
  font-family: Arial, sans-serif;
}

.loginSection {
  font-size: 20px;
  height: auto;
  margin-top: 10px;
  width: 45%;
  background-color: white;
  float: right;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 30px;
  color: #5a9bd5;
}

h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
}

p {
  color: #666;
  margin-bottom: 30px;
}

.input_bar {
  width: 75%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  display: block;
  text-align: left;
  margin-top: 10px;
  color: #333;
}

#subBut {
  cursor: pointer;
  border: none;
  width: 75%;
  background-color: #5a9bd5;
  padding: 10px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
}

#subBut:hover {
  background-color: #3b73a5;
}
